/* 전역 스타일 수정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#root {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

/* 메인 콘텐츠 영역 */
main, 
.mainWrap,
.banner_content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
